{
  "TOKEN": "ODY2Njc0NjA3MjMzNDMzNjEw.YPV_oA.4k9sJ8_kt-12uCEZWCMmVQtcsLE",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "$",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
